.indicator {
    width: 50px;
    height: 10px;
    background-color: #808080;
    border-radius: 5px;
    margin: 10px;
}

.redColor{
    background-color: #ff0000;
}
.yellowColor{
    background-color:#ffdf00;;
}

.greenColor{
    background-color:#0dce0d;
}