.indicator {
    width: 10px;
    height: 10px;
    background-color: grey;
    margin-bottom: 5px;
}

.redColor{
    background-color: red;
}
.yellowColor{
    background-color: yellow;
}

.greenColor{
    background-color: green;
}