.input {
    padding: 10px;
    width: 200px;
    font: 0.7em sans-serif;
    border: none;
    border-bottom: 1px solid #808080;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-top: 20px;
}

.inputLable{
    font: small-caps 1.5em sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;}